body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.btn {
    width: 100px;
    height: 25px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    margin-top: 25px;
}

.divs {
    background-color: black;
    width: 56px;
    height: 56px;
}

.colored-divs {
    background-color: lightgreen;
    width: 56px;
    height: 56px;
}